@using ShopMVC.Code

@model ShopMVC.Models.Start.ShopItemModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Start", FormMethod.Post))
{
<div>
    <div>Nazwa: @Html.TextBoxFor(m => m.Name, new { Style = "background-color:black;" })</div>
    <div>Wartość: @Html.TextBoxFor(m => m.Value, new { Style = "background-color:black;" })</div>
    <div>Opis: @Html.TextAreaFor(m => m.Description, new { Style = "background-color:black;" })</div>
    <div>Obrazek: @Html.TextBoxFor(m => m.ImgSrc, new { Style = "background-color:black;" })</div>
    <button style="background-color: black;">Zapisz</button>
    @Html.LinkButton("Anuluj", "/Start/Index")
</div>

<div class="ErrorText">
    @ViewBag.ErrorMessage
</div>
}